.mt-100{
    margin-top: 100px;
}

.course-info{
    font-weight: 600;
}

.description-card{
    background: #FFF;
    border-radius: 55px;
    color: #121212;
    margin-bottom: 80px;
    overflow: hidden;
    .description-padding{
        padding: 35px 45px 35px 20px;
        justify-content: space-between;
        display: flex;
    }
}

.course-outline{
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    padding: 60px 0 60px 0;
}

.white-h3-heading{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}

.gap-15px{
    gap: 15px;
}