.mt-100{
    margin-top: 100px;
}

.course-info{
    font-weight: 600;
}

.description-card{
    background: #FFF;
    border-radius: 55px;
    color: #121212;
    margin-bottom: 80px;
    overflow: hidden;
    .description-padding{
        padding: 35px 45px 35px 20px;
        justify-content: space-between;
        display: flex;
    }
}

.gap-15px{
    gap: 15px;
}